{% extends 'layout.html' %}   
{% block body %}
    <div>
        <table class="table col-xl-6 col-lg-6 col-md-6 col-sm-6 mx-auto mt-3 ">
            {% include 'partial/_message.html'%}
            <a href="{{ url_for('paymenttype.create') }}" style="float: right; margin-bottom: 1%;">
                <button class="btn btn-primary float-right">Crear</button>
            </a>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha de creación</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for p in payments%}
                {% if p.state == 1 %}
                    <tr>
                        <td>{{p.id}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.description}}</td>        
                        <td>{{p.createDate}}</td>
                        
                        
                        <td>
                            <a href="{{ url_for('paymenttype.update', id=p.id) }}"><i class="fa-solid fa-pencil"></i></a>       
                            <a href="{{ url_for('paymenttype.delete', id=p.id) }}"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>       
    </div>
{% endblock %}