{% extends 'layout.html' %}   
{% block body %}
    <div>
        <table class="table col-xl-6 col-lg-6 col-md-6 col-sm-6 mx-auto mt-3 ">
            {% include 'partial/_message.html'%}
            <a href="{{ url_for('kayaks.create') }}"  style="float: right;margin-bottom: 1%;">
                <button class="btn btn-primary float-right"  >Nuevo kayay</button>
            </a>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Dueño del kayak</th>
                    <th scope="col">Ubicación</th>
                    <th scope="col">Nro. Percha</th>
                    <th scope="col">Tipo Kayak</th>
                    <th scope="col">Nro. Kayak</th>
                    <th scope="col">Cant. persona</th>
                    <th scope="col">Accion</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for data in datas%}
                    <tr>
                        <td>{{data.user.firstName}} - {{data.user.lastName }}</td>
                        <td>{{data.location.name}}</td>                        
                        <td>{{data.hanger.nroHanger}}</td>
                        <td>{{data.kayaktype.name}}</td>
                        <td>{{data.kayak.nroKayak}}</td>
                        <td>{{data.kayak.crewmember}}</td>
                        <td>
                            <a href="{{ url_for('kayaks.update', id=data.kayak.id) }}"><i class="fa-solid fa-pencil"></i></a>
                            <a href="{{ url_for('kayaks.delete', id=data.kayak.id) }}"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>       
    </div>
{% endblock %}